{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}
<h1 class="bg-red-500 text-white text-3xl"><center>Home page</center></h1>


<div class=" space-y-5 p-8  w-2/4">
    <div class="p-3 bg-red-300 shadow rounded-lg">
      <h3 class="text-xl text-black">BREAKFAST</h3>
      <div class="flex space-x-4 mb-6 text-sm font-medium">
        <div class="flex-auto flex space-x-4">
          <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="submit">
            ADD+
          </button>
          <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="button">
            DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="p-3 bg-red-300 shadow rounded-lg">
      <h3 class="text-xl text-black">LUNCH</h3>
      <div class="flex space-x-4 mb-6 text-sm font-medium">
        <div class="flex-auto flex space-x-4">
          <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="submit">
            ADD+
          </button>
          <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="button">
            DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="p-3 bg-red-300 shadow rounded-lg">
      <h3 class="text-xl text-black">SNACKES</h3>
      <div class="flex space-x-4 mb-6 text-sm font-medium">
        <div class="flex-auto flex space-x-4">
          <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="submit">
            ADD+
          </button>
          <button class="h-10 px-6 font-semibold rounded-md border text-white  hover:bg-black" type="button">
            DELETE
          </button>
        </div>
      </div>
    </div>
  <div class="p-3 bg-red-300 shadow rounded-lg">
    <h3 class="text-xl text-black">DINNER</h3>
    <div class="flex space-x-4 mb-6 text-sm font-medium">
      <div class="flex-auto flex space-x-4">
        <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="submit">
          ADD+
        </button>
        <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="button">
          DELETE
        </button>
      </div>
    </div>
  </div>
</div>

  

