{% load static %}
<!doctype html>
<html>
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'base/main.css' %}">
<link rel="stylesheet" href="{% static 'base/hii.css' %}">

<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="{% url 'home' %}">Mindfullness</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

<div>
  <h1>Hello {{request.user|title}}</h1>
</div>
<!-- 
<li><a href="{% url 'calorie_cal' %}">Calorie Calculator</a></li>
<li><a href="{% url 'calorie_counter' %}">Calorie Tracker</a></li>
<li><a href="{% url 'ovulation' %}">Ovulation calculator</a></li>
<li><a href="{% url 'menstruation' %}">Menstruation date calculator</a></li> -->

<div class="container2">

<div class="outer">
  <div class="centered"><a href="{% url 'calorie_cal' %}">Calorie Calculator</a></div>
  <div><b>Calorie Calculator</b></div>
</div>
<br>
<div class="outer">
  <div class="centered"><a href="{% url 'calorie_counter' %}">Calorie Tracker</a></div>
  <div><b>Calorie Tracker</b></div>
</div>
<br>
<div class="outer">
  <div class="centered"><a href="{% url 'ovulation' %}">Ovulation date calculator</a></div>
  <div><b>Ovulation date calculator</b></div>
</div>
<br>
<div class="outer">
  <div class="centered"><a href="{% url 'menstruation' %}">Menstruation date calculator</a></div>
  <div><b>Menstruation date calculator</b></div>
</div>

</div>

<div>

  {% block content %}

  {% endblock %}

</div>
</body>
</html>
<!-- 
<h1>food items</h1> 

{% for food in food_name %}
<table>
  <tr>
  <th>Item</th>
  <th>calorie</th>
</tr>
<tr>
  <td>{{ food.foodname }}</td>
  <td>{{food.calories}}</td>
</tr>
</table>
{% endfor %} -->



<!-- 
<div class=" space-y-5 p-8  w-2/4">
    <div class="p-3 bg-red-300 shadow rounded-lg">
      <h3 class="text-xl text-black"><a href="{% url 'calorie_cal' %}">Calorie Calculator</a></h3>
    </div>
    
    <div class="p-3 bg-red-300 shadow rounded-lg">
      <h3 class="text-xl text-black">LUNCH</h3>
      <div class="flex space-x-4 mb-6 text-sm font-medium">
        <div class="flex-auto flex space-x-4">
          <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="submit">
            ADD+
          </button>
          <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="button">
            DELETE
          </button>
        </div>
      </div>
    </div>
    <div class="p-3 bg-red-300 shadow rounded-lg">
      <h3 class="text-xl text-black">SNACKES</h3>
      <div class="flex space-x-4 mb-6 text-sm font-medium">
        <div class="flex-auto flex space-x-4">
          <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="submit">
            ADD+
          </button>
          <button class="h-10 px-6 font-semibold rounded-md border text-white  hover:bg-black" type="button">
            DELETE
          </button>
        </div>
      </div>
    </div>
  <div class="p-3 bg-red-300 shadow rounded-lg">
    <h3 class="text-xl text-black">DINNER</h3>
    <div class="flex space-x-4 mb-6 text-sm font-medium">
      <div class="flex-auto flex space-x-4">
        <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="submit">
          ADD+
        </button>
        <button class="h-10 px-6 font-semibold rounded-md border text-white hover:bg-black" type="button">
          DELETE
        </button>
      </div>
    </div>
  </div>
</div> -->

  

